body {
    background-color: #f9f9f9;
}

/*
ul#logregnav>li>a.active {
    border-left-color: #007bff;
    border-top-color: #007bff;
    border-right-color: #007bff;
}

ul#logregnav>li>a:hover {
    border-left-color: rgba(0,127,255,.5);
    border-top-color: rgba(0,127,255,.5);
    border-right-color: rgba(0,127,255,.5);
    border-bottom-color: transparent;
    background-color: rgba(0,127,255,.03);
}

ul#logregnav>li>a.active:hover {
    border-left-color: #007bff;
    border-top-color: #007bff;
    border-right-color: #007bff;
    border-bottom-color: transparent;
    background-color: white;
}
*/
